html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}
  
* {
    margin: 0;
    padding: 0;
}
  
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}
  
.animals,
.ingredient {
    margin-bottom: 50px;
}
  
.gallery {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
  
