html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}
  
* {
    margin: 0;
    padding: 0;
}
  
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}
  
.animals,
.ingredient,
.image,
.counter__num,
.unknower,
.focusInput,
.changeFontSize {
    margin-bottom: 50px;
}
  
.gallery {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
  
#validation-input {
    border: 3px solid #bdbdbd;
}
  
#validation-input.valid {
    border-color: #4caf50;
}
  
#validation-input.invalid {
    border-color: #f44336;
}